{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  {% include 'header.html.twig' with {'title' : "PLATEFORME DE TRANSCRIPTION ET D'ANNOTATION DE CORPUS TEXTUELS" } %}

  <div id="main-container">
      <h1>Bienvenue sur TACT !</h1>
        -présentation plateforme (projets de recherche) + “pour en savoir plus...” vers page à propos qui explique l’historique du projet et tout ce qu’il faut savoir :)  + possibilité d’installer une instance perso et comment faire
        -participer à un projet : liens vers Manuel + page projets
        -déposer un projet, manuel du gestionnaire e+ contactez-nous [adresse]
  </div>
{% endblock %}
