{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  {% include 'header.html.twig' with {'title' : "PLATEFORME DE TRANSCRIPTION ET D'ANNOTATION DE CORPUS TEXTUELS" } %}

  <div id="main-container">
    <div class="row px-5 py-3">
      <div class="col-9 text-justify" style="font-size:140%">
        <h1 class="mb-4">Bienvenue sur TACT !</h1>
        <p>TACT est une plateforme de transcription et d'annotation collaborative qui accueille des projets de recherche et permet à chacun d'apporter sa contribution ou de solliciter la communauté de la plateforme.</p>
        <p><strong>Vous voulez participer à un projet ?</strong> Vous pouvez transcrire et annoter des textes originaux, relire et vérifier des transcriptions faites par d'autres internautes, consultez ce manuel du contributeur et aller explorer les projets !</p>
        <p><strong>Vous souhaitez déposer un projet sur TACT ?</strong> Vous deviendrez gestionnaire de votre projet TACT , vous pourrez en définir les modalités et gérer les contributions. Nous vous invitons à lire ce manuel du gestionnaire qui vous donnera toutes les informations nécessaires ainsi que la marche à suivre. Bonne lecture !</p>
      </div>
      <div class="col text-center p-4">
        <div class="mb-3">
          <a href="{{ path('project_list') }}" class="btn btn-secondary btn-lg">
            <i class="fas fa-book-open"></i> {{"project_list"|trans}}
          </a>
        </div>
        <div class="mb-3">
          <a download href="{{asset('platform/contributor_guide.pdf')}}" class="btn btn-primary btn-lg">
            <i class="fas fa-book-open"></i> {{"contributor_guide"|trans}}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
