{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  {% include 'header.html.twig' with {'title' : "PLATEFORME DE TRANSCRIPTION ET D'ANNOTATION DE CORPUS TEXTUELS" } %}

  <div id="main-container">
    {{ home_text|raw }}
  </div>
{% endblock %}
