{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="page-title">{{'terms'|trans}}</h1>

    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">


          <h2>Objet de la plateforme</h2>

          <p>La plateforme TACT (ci-après dénommée « la Plateforme ») a pour objet la transcription et d’annotation collaborative de corpus textuels dans le cadre des recherches universitaires en sciences humaines et sociales.</p>

          <h2>Qualification projet</h2>
          <p>La plateforme TACT est une réalisation du programme « Données Massives et Riches pour les Sciences Humaines et Sociales » (Démarre SHS !) de l’Institut des Données de Grenoble. Elle a été réalisée conjointement avec l’Equipe Littératures et Arts Numériques (ELAN) de l’UMR 5316 Litt&Arts. Ce travail a bénéficié d'une aide de l'Etat gérée par l'Agence Nationale de la Recherche au titre du programme « Investissements d'avenir » portant la référence ANR-15-IDEX-02.</p>


          <h2>Hébergeur</h2>
          <p>
          TGIR Huma-Num - UMS 3598 <br/>
          54 Boulevard Raspail <br/>
          75006 Paris<br/>

          <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a> <br/>

          <a href="mailto:cogrid@huma-num.fr">cogrid@huma-num.fr</a>
          </p>

          <h2>Éditeur de la plateforme</h2>
          <p>
          UMR 5316 Litt&Arts <br/>
          Université Grenoble Alpes <br/>
          CS 40700 - 38058 Grenoble cedex 9 <br/>
          <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr">http://litt-arts.univ-grenoble-alpes.fr</a> <br/>

          <a href="mailto:tact@univ-grenoble-alpes.fr">tact@univ-grenoble-alpes.fr</a>
          </p>

          <h2>Modalités de participation</h2>
          <p>
          La participation à la plateforme consiste en la réalisation de transcription et d’annotation de corpus textuels (ci-après « les Contributions ») et en la télétransmission de ces Contributions sur le site internet de la plateforme, accessible à l'adresse <a target="_blank" href="https://tact.demarre-shs.fr">https://tact.demarre-shs.fr</a> en respectant les caractéristiques définies à l'article « <a href="#contribs">Caractéristiques des contributions</a> » des présentes conditions générales d’utilisation.</p>

          <p>Cette participation est volontaire, bénévole et citoyenne.</p>

          <p>Les participants, lorsqu’ils sont porteurs de projets peuvent mettre en ligne des corpus pour les faire annoter et transcrire. Pour cela le projet doit être un projet de recherche publique.<br/>
          Dans ce cas les porteurs s’engagent à disposer de l’ensemble des droits nécessaires pour la reproduction, représentation, diffusion et publication sur ce corpus, et notamment des droits de propriété intellectuelle. En cas de recours les porteurs du projet seront les seuls responsables.</p>

          <h2 id="contribs">Caractéristiques des contributions</h2>
          <p>Les participants, y compris les porteurs de projet, s'engagent notamment à ne pas diffuser de Contributions ou de corpus, quelque soit leur nature ou leur forme constituant un comportement manifestement inapproprié ou illicite.</p>

          <p>L’éditeur de la plateforme se réserve la possibilité de couper les accès du participant.</p>

          <h2>Propriété intellectuelle</h2>
          <p>L’ensemble des Contributions des Participants est sous licence Creative Commons.</p>

          <h2>Garanties</h2>
          <p>Les participants, y compris les porteurs des projets, garantissent la plateforme contre tout trouble, action, réclamation, opposition, revendication, responsabilité, perte, dommage, coûts ou frais subis par la plateforme liés à : (1) toute violation des présentes conditions générales d’utilisation par un participant ; (2) la diffusion des Contributions</p>


          <h2 id="datas">Données personnelles</h2>
          <p>
          Dans le cadre de l’utilisation de la plateforme, l’éditeur va recueillir des données à caractère personnel sur les participants. Ces données vont faire l’objet d’un traitement qui a pour finalité la gestion des utilisateurs de la plateforme.
          </p>

          <p>
          Dans le cadre de ce traitement les données collectées sont :
            <ul>
                <li>Noms, prénoms</li>
                <li>Nom d’utilisateur</li>
                <li>Porteur projet universitaire</li>
                <li>Adresse IP</li>
                <li>Date de dernière connexion</li>
            </ul>
          </p>

          <p>Ces données sont conservées pendant trois ans après la dernière activité du participant sur la Plateforme.</p>
          <p>Les Participants disposent des droits suivants pour l’utilisation qui est faite de vos données : le droit d’opposition, d’accès, de rectification, d’effacement, le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles, le droit à la portabilité: communiquer les données à la personne de votre choix</p>
          <p>Ces droits peuvent être exercés en vous adressant à Litt&Arts (<a href="mailto:tact@univ-grenoble-alpes.fr">tact@univ-grenoble-alpes.fr</a>)</p>
          <p>Le Participant peut contacter également le DPD à l’adresse suivante :<br/>
          DPD (déléguée à la protection des données),<br/>
          17, rue notre Dame des Pauvres,<br/>
          54 519 VANDOEUVRE LÈS NANCY Cedex.<br/>
          </p>
          <p>
          Si un Participant estime, après avoir contacté les personnes ci-dessus, que ses droits Informatique et Libertés ne sont pas respectés, il a la possibilité́ d’introduire une réclamation en ligne auprès de la CNIL ou par courrier postal.
          </p>


          <h2>Responsabilité</h2>
          <p>
          La plateforme ne saurait être responsable et décline toute responsabilité en cas de :
          <ul>
              <li>dommages résultant de la perte des Contributions ou autre données télétransmises à ce titre, il relève de la responsabilité des participants de conserver une copie durable de toute Contribution transmise à l'occasion de la participation ;</li>
              <li>contamination par d'éventuels virus ou intrusion d'un tiers dans le système du terminal ou autre équipement des participants ;</li>
          </ul>
          La Plate-Forme déclinant toute responsabilité quant aux conséquences de la connexion des participants au réseau via le Site.<br/>
          La Plate-Forme ne saurait être tenue pour responsable du non-respect par les participants des règles édictées par les présentes conditions générales d’utilisation et des dommages en découlant pour eux-mêmes ou des tiers.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
