{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="page-title">{{'message_user'|trans}}</h1>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
              <h3>
                Message à <span class="text-muted">{{ user.username }}</span>
              </h3>
              {{ form(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
