
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  <form action="{{ path('user_lost_password_form') }}" method="post">

    <div class="form-group">
      <label class="form-control-label required" for="user-data">{{ 'email_or_login' | trans({}, 'messages')}}</label>
      <input class="form-control" placeholder="{{ 'email_or_login_placeholder' | trans({}, 'messages')}}" required="required" type="text" id="user-data" name="user_data" value=""/>
    </div>
    <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
  </form>
</div>
{% endblock %}
