<nav id="secondary-nav" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">
    {{ title|trans|upper|raw }}
  </a>
  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>
</nav>
