<nav id="project-nav" class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(211, 211, 211, 0.7)">
  <a class="navbar-brand">
    {{ title|trans }}
  </a>
  <span class="navbar-brand text-muted">{% if subtitle is defined %}({{ subtitle|trans }}){% endif %}</span>
</nav>
