/* TINY CONTENT */
/*.tiny-root *::before{
  content: attr(data-tag);
  margin:0 4px 0 0;
  padding:2px;
  color:white;
  background-color:lightgrey;
  border-bottom-left-radius:3px;
  border-top-left-radius:3px;
  text-decoration: none;
  font-size: smaller;
}

.tiny-root *::after{
  content: "/" attr(data-tag);
  margin:0 0 0 4px;
  padding:2px;
  color:white;
  background-color:lightgrey;
  border-bottom-right-radius:3px;
  border-top-right-radius:3px;
  text-decoration: none;
  font-size: smaller;
}*/
*::before {
  margin: 0 4px 0 0;
  padding: 2px;
  color: white;
  background-color: lightgrey;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  text-decoration: none;
  font-size: smaller;
}

*::after{
 margin:0 0 0 4px;
 padding:2px;
 color:white;
 background-color:lightgrey;
 border-bottom-right-radius:3px;
 border-top-right-radius:3px;
 text-decoration: none;
 font-size: smaller;
}


div {
  &::before {
    content: "<div>";
  }
  &::after {
    content: "</div>";
  }
}

p {
  &::before {
    content: "<p>";
  }
  &::after {
    content: "</p>";
  }

}

num {
  &::before {
    content: "<num>";
  }
  &::after {
    content: "</num>";
  }
}

date {
  &::before {
    content: "<date>";
  }
  &::after {
    content: "</date>";
  }
}

head {
  display: block;
  &::before {
    content: "<head>";
  }
  &::after {
    content: "</head>";
  }
}

hi {
  &::before {
    content: "<hi>";
  }
  &::after {
    content: "</hi>";
  }
}

del {
  &::before {
    content: "<del>";
  }
  &::after {
    content: "</del>";
  }
}

add {
  &::before {
    content: "<add>";
  }
  &::after {
    content: "</add>";
  }
}

placeName {
  &::before {
    content: "<placeName>";
  }
  &::after {
    content: "</placeName>";
  }
}

persName {
  &::before {
    content: "<persName>";
  }
  &::after {
    content: "</persName>";
  }
}

metamark {
  &::before {
    content: "<metamark>";
  }
  &::after {
    content: "</metamark>";
  }
}

abbr {
  &::before {
    content: "<abbr>";
  }
  &::after {
    content: "</abbr>";
  }
}

choice {
  &::before {
    content: "<choice>";
  }
  &::after {
    content: "</choice>";
  }
}

unclear {
  &::before {
    content: "<unclear>";
  }
  &::after {
    content: "</unclear>";
  }
}

seg {
  &::before {
    content: "<seg>";
  }
  &::after {
    content: "</seg>";
  }
}

sic {
  &::before {
    content: "<sic>";
  }
  &::after {
    content: "</sic>";
  }
}

corr {
  &::before {
    content: "<corr>";
  }
  &::after {
    content: "</corr>";
  }
}

subst {
  &::before {
    content: "<subst>";
  }
  &::after {
    content: "</subst>";
  }
}
