#tinymce del {
  text-decoration: none;
}

#tinymce *::before {
  margin: 0 4px 0 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#tinymce *::after {
  margin: 0 0 0 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#tinymce *::before, *::after {
  padding: 2px;
  color: white;
  background-color: lightgrey;
  text-decoration: none;
  font-size: smaller;
}

#tinymce *::before {
  content: "<" attr(data-tag) ">";
}

#tinymce *::after {
  content: "</" attr(data-tag) ">";
}
