{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="page-title">{{'administrate_edito_content'|trans}}</h1>
    <div class="card">
      <div class="card-body">
        {{form(form)}}
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('build/js/editorial-content.js')}}"></script>
{% endblock %}
