{% extends "base.html.twig" %}

{% block body %}
<div id="main-container">
  <h1 class="page-title">{{'administrate_edito_content'|trans}}</h1>
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
      {% for edito in editos %}
        <li class="list-group-item ">
          <a href="{{ path('admin_edito_edit', {'id': edito.id}) }}">
            <i class="fas fa-edit"></i> {{"edito_edit"|trans}}
          </a>
          {{edito.name|upper}}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
