<h5>Hi {{user.lastname}} {{user.firstname}}!</h5>
<h6>You requested a new password for the PATACS platform.</h6>
<p>
In order to set your new password please click an the link below.
</p>
<p>
Note that you won't be able to ask a new password for 2 hours.
</p>

<a href="{{url}}">Confirm</a>
