{% extends "emails/master.html.twig" %}

{% block body %}
  <p>Hi {{user.lastname}} {{user.firstname}}!</p>
  <p>You requested a new password for the PATACS platform.</p>
  <p>
  In order to set your new password please click <a href="{{url}}">here</a>.
  </p>
  <p>
  Note that you won't be able to ask for a new password for 2 hours.
  </p>
{% endblock %}
