{% extends "base.html.twig" %}
{% block body %}

  <ul class="list-group">
    <li class="list-group-item">{{ project.id }}</li>
    <li class="list-group-item">{{ project.name }}</li>
    <li class="list-group-item">{{ project.description }}</li>
    <li class="list-group-item">{{ project.shortDescription }}</li>
  <ul>

{% endblock %}
