{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_export'} %}
  <div id="main-container">
    {{form(form)}}
  </div>
{% endblock %}
