{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_export'} %}
  <div id="main-container">
    <h5>{{"export_form_title"|trans}}</h5>
    {{form(form)}}
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/submit-disable.js') }}"></script>
{% endblock %}
