{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  {% include 'header.html.twig' with {'title' : "project_list" } %}

  <div id="main-container">
    <div class="row">
      {% for project in projectsUnarchived %}
        {{macros.displayProject(project)}}
      {% endfor %}
    </div>
    {% if projectsArchived|length > 0 %}
      <h4 class="py-5">Projets archivés</h4>
      <div class="row">
        {% for project in projectsArchived %}
          {{macros.displayProject(project)}}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
