{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  {% include 'header.html.twig' with {'title' : "project_list" } %}

  <div id="main-container">
    <div class="project-grid">
    {% for project in projectsUnarchived %}
      {{ macros.displayProject(project) }}
    {% endfor %}
    </div>
    {% if projectsArchived|length > 0 %}
      <div class="row">
        <div class="col">
          <h4 class="mt-5 ml-2 text-muted">Projets archivés</h4>
        </div>
      </div>
      <div class="project-grid archived">
        {% for project in projectsArchived %}
          {{ macros.displayProject(project) }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
