{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  <div class="bluebg" id="main-container">
    <h1 class="page-title">{{'project_list'|trans}}</h1>
    <div class="project-grid">
    {% for project in projectsUnarchived %}
      {{ macros.displayProject(project) }}
    {% endfor %}
    </div>
    {% if projectsArchived|length > 0 %}
      <h1 class="page-title">Projets archivés</h1>
      <div class="project-grid archived">
        {% for project in projectsArchived %}
          {{ macros.displayProject(project) }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
