{% extends "base.html.twig" %}

{% block body %}
  {% include 'project/navigation.html.twig' with {'current': null} %}

  <div id="main-container">
    <h3>
      Message au membre du projet <span class="text-muted">{{ project.name }}</span>
    </h3>
    {{form(form) }}
  </div>
{% endblock %}
