{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="page-title">{{'platform_logs'|trans}}</h1>
    <div class="card">
      <div class="card-body">
        {% include 'log/listing.html.twig' with {'global': true, 'personal': false} %}
      </div>
    </div>
  </div>
{% endblock %}
