<hr class="mt-4" />
<div>
  <span class="text-muted">{{"have_contributed"|trans}}:</span>
  {% for i, contributor in contributors %}
    {{ contributor.username }} <span class="text-muted">-</span>
  {% endfor %}
</div>
