<div class="row mt-3">
  <div class="col text-center">
    <a id="start-tutorial" class="btn btn-outline-secondary mr-3" href="#" data-dismiss="modal">
      <i class="fas fa-magic"></i> {{'tutorial_enable'|trans}}
    </a>
    {% if project.projectHelpLink %}
      <a download class="btn btn-outline-secondary" href="{{ asset('project_files/' ~ project.id ~ '/' ~ project.projectHelpLink) }}">
        <i class="fas fa-book"></i> {{'transcript_help_doc'|trans}}
      </a>
    {% endif %}
  </div>
</div>
