{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="invisible" id="flashes">
      <div class="flash" data-label="{{ label }}" data-message="{{ message|e('html_attr') }}"></div>
    </div>
  {% endfor %}
{% endfor %}
